@import "tailwindcss";
@import "uniwind";

@layer theme {
  :root {
    @variant light {
      --color-background: oklch(0.922 0 0);
      --color-foreground: oklch(0.145 0 0);
      --color-card: oklch(1 0 0);
      --color-card-foreground: oklch(0.145 0 0);
      --color-primary: oklch(0.205 0 0);
      --color-primary-foreground: oklch(0.985 0 0);
      --color-border: oklch(0.8 0 0);
      --color-notification: oklch(0.577 0.245 27.325);
    }

    @variant dark {
      /* biome-ignore lint/suspicious/noDuplicateCustomProperties: separate theme */
      --color-background: oklch(0.145 0 0);
      --color-foreground: oklch(0.985 0 0);
      --color-card: oklch(0.205 0 0);
      --color-card-foreground: oklch(0.985 0 0);
      --color-border: oklch(0.2 0 0);
      --color-primary: oklch(0.922 0 0);
      --color-primary-foreground: oklch(0.205 0 0);
      --color-notification: oklch(0.637 0.237 25.331);
    }
  }
}
